untitled document.xls
test.xls
compare*.xls
sharepoint_download_excel.*
*.gem
bin
Gemfile.lock
*.rb~
empty.png
minus.png
plus.png
profile.*
untitled document.xlsx*
.DS_Store
doc
private_*
test_private_*
coverage